<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2024 - Femi Akinlotan | IBM - Platform Engineer | Sample Project </span>
    </div>
</footer>